# Python-related
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.venv
*.env

# IDE-related
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS-related
.DS_Store
Thumbs.db

# Application-specific
subtitle_renamer.log